* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
}

.lower-form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: inherit;
}

.lower-input{
  color: black;
  width: 90%
}

.lower-form button{
  width: 10%;
  background-color: #56B4AA;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

.invis{
  display: none;
}

.message-box{
  margin-bottom: 39px;
}

.center{
  text-align: center;
}

.centered{
  margin: auto;
  display: table;
}

.thinner{
  width: 50%;
}

.left{
  float: left;
}

.room-box{
  width: 85%;
}
.user-box{
  width: 15%;
  border: thin black solid;

}

.nada{
  list-style-type: none;
}
